/* .container {
  margin-top: 10%;
} */

.sub-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.6;
}

.title {
  font-family: "Bellefair", serif;
  font-size: 150px;
  text-transform: uppercase;
}

.trip-description {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  max-width: 500px;
}

.explore {
  font-family: "Bellefair", serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background-color: #fefefe;
  padding: 10rem;
  clip-path: circle();
  cursor: pointer;
}

.wrapper {
  transition: all 0.3s;
  margin: auto;
  text-align: center;
}

.wrapper:hover {
  filter: drop-shadow(0 0 5rem hsl(0, 24%, 96%));
}

/* #home {
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100vw;
} */
