.carousel {
  position: relative;

  max-width: 85%;
  overflow-x: auto;

  padding-inline: 2.5rem;
}

.carousel i.right,
.carousel i.left {
  position: absolute;
  inset: 0 auto 0 0;
  font-size: 20px;
  line-height: 40rem;
  width: 4rem;
  color: var(--white);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to left, transparent 0%, var(--white) 200%);
  opacity: 0.1;
  cursor: pointer;
  border: none;
}

.carousel i.right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, var(--white) 200%);
}

.carousel i.right:hover,
.carousel i.left:hover {
  opacity: 0.5;
}

.carousel-items {
  width: 100%;

  display: flex;

  overflow-x: auto;

  scrollbar-width: none;
}

.carousel-items::-webkit-scrollbar {
  display: none;
}
