.carousel {
  position: relative;

  display: flex;

  max-width: 80%;
  overflow-x: auto;
}

.carousel i.right,
.carousel i.left {
  position: absolute;
  top: 45%;
  background-color: var(--white);
  padding: 1.5rem;
  font-size: 1.5rem;

  clip-path: circle();

  cursor: pointer;

  color: black;
}

i.right {
  right: 0;
}

i.left {
  left: 0;
}
