@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  position: relative;
}

header {
  position: absolute;
  left: 0;
  width: 100%;
}

.page-title {
  /* position: absolute;
  left: 10%;
  top: 12%; */

  align-self: flex-start;

  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-left: 7.5%;
}
