.carousel {
  position: relative;

  max-width: 85%;
  overflow-x: auto;

  padding-inline: 2%;
  overflow: hidden;
}

.carousel button.right,
.carousel button.left {
  position: absolute;
  inset: 0 auto 0 0;
  font-size: 20px;
  line-height: 40rem;
  width: 4rem;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to left, transparent 0%, var(--white) 200%);
  opacity: 0.1;
  cursor: pointer;
  border: none;

  font-size: 2.5rem;
}

.carousel button.right {
  right: 0;
  left: auto;
  background: linear-gradient(to right, transparent 0%, var(--white) 200%);
}

.carousel button.right:hover,
.carousel button.left:hover {
  opacity: 0.5;
}

.carousel-items::-webkit-scrollbar {
  display: none;
}
